{% load thumbnail %}
    <aside data-mcs-theme="minimal-dark")" class="main-sidebar mCustomScrollbar">
        {% if request.user.is_authenticated %}
        <div class="leftcolorbar"></div>
        <div class="user">
            <a href="{% url 'profile' %}">
            <div id="esp-user-profile" data-percent="65"  class="easy-pie-chart">
                <img src="{% if request.profile.pict %}{{ request.profile.pict|thumbnail_url:'foto' }}{% else %}{{ MEDIA_URL }}build/images/profil_pict_purple.png{% endif %}" alt="" class="avatar img-circle">
                <span class="status bg-success"></span>
                </div>
            </a>
            <p>{{ request.user.first_name }}</p>
            <p>Studying</p>
            <p class="mb-20">Student/Professional</p>
        </div>
        <ul class="list-unstyled navigation m-8">
            <li class="sidebarcolor">
                <a href="/"{% if '/preferences' in request.META.PATH_INFO %} class="active"{% endif %} class="pt-5">
                    <i class="ti-layout-grid4-alt"></i>
                    <span class="sidebar-title">Preferences </span>
                </a>
            </li>
            <li class="sidebarcolor">
                <a href="/"{% if '/topics_interest' in request.META.PATH_INFO %} class="active"{% endif %} class="pt-5">
                    <i class="ti-view-list"></i>
                    <span class="sidebar-title">Topics Of Interest </span>
                </a>
            </li>
            <li class="sidebarcolor">
                <a href="/"{% if '/conversation_title' in request.META.PATH_INFO %} class="active"{% endif %} class="pt-5">
                    <i class="ti-info"></i>
                    <span class="sidebar-title">Conversation Title </span>
                </a>

            </li>
            <li class="sidebarcolor">
                <a href="/"{% if '/create_notes' in request.META.PATH_INFO %} class="active"{% endif %} class="pt-5">
                    <i class="ti-hummer"></i>
                    <span class="sidebar-title">Create Notes </span>
                </a>
            </li>
            <li class="sidebarcolor">
                <a href="{% url 'file_manager' %}"{% if '/file_manager' in request.META.PATH_INFO %} class="active"{% endif %} class="pt-5">
                    <i class="ti-harddrives"></i>
                    <span class="sidebar-title">File Manager </span>
                </a>
            </li>
        </ul>
        <ul class="list-unstyled sidebar-category">
            <li class="panel">Classes</li>
            <li class="panel"><a href="/"{% if '/manage_classes' in request.META.PATH_INFO %} class="active"{% endif %}><i class="ti-settings"></i><span class="sidebar-title">Manage Classes </span></a></li>
            <li class="panel"><a href="/"{% if '/create_class' in request.META.PATH_INFO %} class="active"{% endif %}><i class="ti-plus pluscircle"></i><span class="sidebar-title">Create a Class </span></a></li>
            <li class="panel"><a href="/"{% if '/join_class' in request.META.PATH_INFO %} class="active"{% endif %}><i class="ti-agenda"></i><span class="sidebar-title">Join a Class </span></a></li>
        </ul>

        <ul class="list-unstyled sidebar-category">
            <li class="panel">Groups</li>
            <li class="panel"><a href="/"{% if '/manage_groups' in request.META.PATH_INFO %} class="active"{% endif %}><i class="ti-settings"></i><span class="sidebar-title">Manage Groups </span></a></li>
            <li class="panel"><a href="/"{% if '/create_group' in request.META.PATH_INFO %} class="active"{% endif %}><i class="ti-plus pluscircle"></i><span class="sidebar-title">Create a Group </span></a></li>
            <li class="panel"><a href="/"{% if '/join_group' in request.META.PATH_INFO %} class="active"{% endif %}><i class="ti-agenda"></i><span class="sidebar-title">Join a Group </span></a></li>
        </ul>

        {% else %}
        <ul class="list-unstyled navigation mb-0">
            <li class="panel"><a href="/"{% if '/login' in request.META.PATH_INFO %} class="active"{% endif %}><span class="sidebar-title">Signin </span></a></li>

            <li class="panel"><a href="/"{% if '/register' in request.META.PATH_INFO %} class="active"{% endif %}><span class="sidebar-title">Signup </span></a></li>
        </ul>

        {% endif %}
    </aside>
